$color-border: #ccc;
$sans: "Avenir Next", Avenir, "Helvetica Neue", Helvetica, sans-serif;
.app {}
.title {
  font-size: 6rem;
  line-height: 1;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  border-width: .4rem 0;
  border-style: double;
  border-color: $color-border;
  padding: 3.6rem 0;
  margin: 0;
}
.links {
  list-style: none;
  padding: 2rem 0;
  margin: 6rem 0 0;
  width: 100%;
  float: left;
  font-family: $sans;
  border-width: .1rem 0;
  border-style: double;
  border-color: $color-border;
}
.link {
  display: block;
  float: left;
  width: #{(1/5)*100}%;
  text-align: center;
  font-weight: 600;
}
.blurb {
  clear: left;
  width: 80%;
  max-width: 36em;
  margin: 4rem auto 0;
  & p:first-child:first-line { font-weight: bold; }
}
.CV_dl {
  font-family: $sans;
  font-weight: bold;
  a { text-decoration: none; }
}
.foot {
  clear: left;
  text-align: center;
  padding-top: 2rem;
}
