@import 'lib/css/index';

.title {
  font-size: 6rem;
  font-family: serif;
  line-height: 1;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  border-width: 1.5rem;
  border-style: solid;
  border-color: MistyRose;
  padding: 18rem 2rem;
  margin: 0 0 2rem;
  background-color: white;
  // transition: box-shadow .3s, transform .3s;
  // &:hover {
  //   box-shadow: 1rem 1rem $c-border;
  //   transform: translate(-1rem, -1rem);
  // }
}
.links {
  list-style: none;
  margin: 0 0 6rem;
  padding: 0;
  width: 100%;
  float: left;
  @media screen and (max-width:39.99rem) {
    border-width: .2rem 0;
    border-style: solid;
    border-color: $c-border;
  }
}
.link {
  display: block;
  margin: 0;
  font-weight: 600;
  letter-spacing: .2rem;
  background-color: white;
  @media screen and (max-width:39.99rem) {
    line-height: 3rem;
    margin-bottom: -.2rem;
  }
  padding: .2rem 0;
  @media screen and (min-width:40rem) {
    float: left;
    text-align: center;
    width: #{(1/5)*100}%;
    border-width: .2rem 0;
    border-style: solid;
    border-color: $c-border;
    transition: padding .2s, margin .2s, background-color .3s .1s;
    &:hover {
      background-color: $c-border;
      padding: .6rem 0;
      margin: -.4rem 0;
    }
  }
  a {
    @include c-link($c-text, $visited:$c-text);
    text-decoration: none;
    display: block;
    padding: 1rem 0;
    background-color: $c-background;
    text-decoration: none;
    border-width: .2rem 0;
    border-style: solid;
    border-color: $c-border;
    transition: background-color .5s .15s;
    &:hover {
      background-color: white;
    }
  }

}
.blurb {
  display: none;
  clear: left;
  margin: 0 auto;
  padding: 5rem 0;
  & > * {
    $opacity: .2;
    $duration: .2s;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        opacity: #{1 - ($i*$opacity)};
        transition: opacity #{$duration} #{($i*.75 - 1)*$duration};
      }
    }
  }
  &:hover > * {
    opacity: 1;
  }
  width: 80%;
  max-width: 36em;
  & p:first-child:first-line { font-weight: bold; }
}
.CV_dl {
  font-weight: bold;
  a { text-decoration: none; }
}
.foot {
  text-align: center;
  clear: left;
  opacity: .2;
  transition: opacity 0.15s;
  &:hover { opacity: 1; }
}
