@import 'lib/css/index';

.title {
  font-size: 6rem;
  font-family: serif;
  line-height: 1;
  text-align: center;
  font-style: italic;
  font-weight: normal;
  // border-width: .4rem 0;
  // border-style: double;
  // border-color: $c-border;
  padding: 18rem 0;
  margin: 0;
  background-color: $c-background;
  box-shadow: 1rem 1rem $c-border;
}
.links {
  list-style: none;
  padding: 1.6rem 0;
  margin: 0;
  width: 100%;
  float: left;
  border-width: .4rem 0;
  border-style: double;
  border-color: $c-border;
  // background-color: $c-background;
  // box-shadow: 1rem 1rem $c-border;
}
.link {
  display: block;
  margin: 0;
  font-weight: 600;
  letter-spacing: .2rem;
  a { text-decoration: none; }
  @media screen and (max-width:39.99rem) {
    line-height: 3rem;
  }
  @media screen and (min-width:40rem) {
    float: left;
    width: #{(1/5)*100}%;
    text-align: center;
  }
}
.blurb {
  clear: left;
  margin: 0 auto;
  padding: 6rem 0;
  & > * {
    $opacity: .2;
    $duration: .2s;
    @for $i from 1 through 4 {
      &:nth-child(#{$i}) {
        opacity: #{1 - ($i*$opacity)};
        transition: opacity #{$duration} #{($i*.75 - 1)*$duration};
      }
    }
  }
  &:hover > * {
    opacity: 1;
  }
  width: 80%;
  max-width: 36em;
  & p:first-child:first-line { font-weight: bold; }
}
.CV_dl {
  font-weight: bold;
  a { text-decoration: none; }
}
.foot {
  clear: left;
  text-align: center;
  padding-top: 2rem;
}
