// these styles are excluded from the CSSModules plugin so the classes and element names apply globally!
//

html { font-size: 62.5%; } /* =10px */
body {
  font-size: 1.6rem; /* =16px */
  line-height: 2rem;
  font-family: serif;
  padding: 4rem 6rem;
}
p {
  margin-top: 2rem;
  margin-bottom: 0rem;
}
.emoji { font-weight: normal; }
